/* tablet */

@media only screen and (min-width: 788px) and (max-width: 979px) {

	.media ul li a {
		border: solid black 3px;
		display: block;
		padding: 3px;
	}

	.play {
		margin-left: 330px;
	}

	/* about*/
	.meteoros img {
		margin-right: 300px;
		margin-left: 100px;
	}

	.about {
		padding-bottom: 0px;
	}

	.casa {
		margin: 30px auto;
		margin-left: 0px;
		margin-right: 0px;
	}

	.quebra cite {
		margin-left: 400px;
	}


	/* Cast */

	.personagens {
		margin-left: 50px;
	}

	/* History */

	.prime {
		margin-left: 150px;
	}

	.prime-video h3:before {
		background: url("../img/seta-menor.png") no-repeat center;
		width: 74px;
		height: 29px;
	}

	.watch {
		padding-bottom: 120px;
	}

	.linha {
		margin-left: 40px;
	}

	/* Game */
	.game img {
		padding-left: 40px;
		padding-right: 40px;
	}

	.rules {
		height: 700px;
	}

	.rules h1 {
		padding: 30px 0 30px 0;
	}

	.playstation {
		height: 830px;
	}

	.game-description {
		padding: 30px;
	}
	
	.game-description h2{
		margin-left: 160px;
	}

	.texto {
		padding-left: 80px;
	}


	/* Production */

	.soundtrack span {
		margin: 0px 0px 10px 550px;
	}

	.conteudo img {
		padding: 20px;
		margin-left: 50px;
	}
		
	.direct-linha {
		padding-bottom: 50px;
	}
	
	.camera {
		padding: 20px 0px 0px 400px
	}
	
	.direcao {
		margin: 10px 0px 50px 150px;
	}
	
}


/* celular */

  @media only screen and (max-width: 787px) {

    .header {
        position: relative;
    }

    .header img {
        margin: 0 auto;
    }

	.header_menu ul li a {
		color:#ffff;
		border: solid 3px white;
		width: 140px;
		float: right;
		padding-left: 0px;
	}

	.impar {
		margin-right: 80px;
	}

	.header_menu ul li {
		margin-left: 0px;
	}

	.header_menu ul li a:hover {
		border: solid 3px #08aae3;
  	}

	  .header_menu ul li a.menu_ativo {
		border: solid 3px #08aae3;
	}

	.introducao {
		margin-top: 0px;
	}
 
	.casa {
		margin: 30px auto;
		margin-left: 0px;
		margin-right: 0px;
	}

	.cast-home {
		padding-top: 30px;
	}

	.cast-home {
		height: 1200px;
	}

	.cast-home ul {
		padding-top: 30px;
		margin: 0 auto;
	}

	.cast-home ul li{
		width: 300px;
	}

	.cast-home .call {
		padding-top: 50px;
	}


	.history-home {
		height: 1080px;
	}

	.history-home ul {
		padding-top: 20px;
	}

	.seta img {
		margin: 0 5px auto;
	}

	.game-home {
		height: 1110px;
		padding-top: 50px;
	} 

	.game-home ul {
		padding-top: 40px;
	}
	.capa { 
		margin-bottom: 20px;
	}

	.call {
		padding-top: 20px;
	}

	.columbia img {
		padding: 20px 50px 20px 50px;
	}

	.quebra cite {
		margin: 0 auto;
	}

	.play {
		margin-left: 100px;
		margin-top: -150px;
		padding: 22px 10px 22px 10px;
	}

	.play h3 {
		font-size: 18px;
	}

	.quebra cite {
		margin-left: 200px;
	}

	/*footer */
	.copy {
		height: 80px;
	}

	/* about*/

	.meteoros img {
		margin-right: 150px;
		margin-left: 0px;
	}

	.about p {
		padding: 0px;
	}

	.about img {
		margin-left: 10px auto;
	}

	.line-dash {
		opacity: 0;
		position: absolute;
	}

	.about {
		padding-bottom: 20px;
	}

	.box-office img {
		position: absolute;
		margin-left: -150px;
	}

	.reviews {
		height: 1350px;
	}

	.reviews p {
		margin-left: 0px;
	}

	.making-off .imagens {
		margin-left: 0px;
	}

	.about .quote cite {
		padding-left: 100px;
	}

	/* Cast */

	.titulo-interno {
		margin-top: 0px;
	}

	.setas {
		opacity: 0;
		position: absolute;
	}

	.personagens {
		margin-left: 10px;
	}

	/* History */

	.synopsis p{
		padding: 0px;
		margin-bottom: 20px;
	}

	.plot {
		height: 4000px;
	}

	.plot .subtitulo-interno {
		color: white;
		margin-top: 15px;
	}

	.plot p {
		margin-left: 0px;
	
	}

	.plot img {
		padding: 20px;
		margin: 0;
	}

	.trailer {
		padding-bottom: 30px;
	} 

	.prime {
		margin-left: 0px;
	}

	.prime-video h3:before {
		background: url("../img/seta-menor.png") no-repeat center;
		width: 74px;
		height: 29px;
		margin-top: -30px;
		margin-left: 80px;
		
	}
	.prime-video h3 {
		font-size: 20px;
		padding: 10px 0px 60px 10px;
		border-radius: 10px;
		margin: 0;

	}

	.prime-video h3:hover {
		color: white;
		background: #7FC0E4;
		border: #002446 solid 3px;
		padding: 10px 0px 60px 10px;
	}

	.prime-video {
		margin-left: 0px;
		padding: 0;
	}

	.watch {
		padding-bottom: 30px;
	}

	.linha {
		position: absolute;
		opacity: 0;
	}

	.prime-video a {
		margin: 20px;
	}

	/* Game */

	.game img {
		padding-left: 60px;
		padding-right: 60px;
	}

	.rules {
		height: 1350px;
	}

	.rules h1 {
		padding: 40px 0 30px 0;
	}
	
	.rules ul, .img {
		padding-top: 10px;
	}
	
	.review {
		margin-bottom: 50px;
	}

	.playstation {
		height: 1150px;
	}

	.game-description {
		padding: 0px;
	}
	
	.game-description h2{
		margin-left: 0px;
		padding-top: 30px;
	}

	.texto {
		padding-left: 0px;
	}

	.gameplay .play {
		margin-top: -200px
	}
	
	.game cite {
		margin-left: 200px;
	}

	/* Production */


	.top-linha {
		margin-top: 180px;
	}

	.conteudo {
		padding: 0;
	}

	.soundtrack span {
		float: right;
		margin: 10px 115px 0px 0px;
	}

	.script {
		height: 1600px;
		padding-top: 30px;
	}

	.camera {
		padding: 20px 0px 0px 240px
	}
	
	.direcao {
		margin: 10px 0px 50px 150px;
	}
	
	.direcao .textinho {
		padding: 0;
	}

	.diretor {
		padding-left: 0px;
		padding-top: 20px;
	}

}